.textLink {
    @apply m-auto text-lg hover:text-bluey-snd
}

.navigation {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

}

.holder {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holder::before {
    content: "";
    bottom: 0;
    left: 50%;
    height: 40%;
    width: 1px;
    background-color: white; /* couleur de la ligne verticale */
}

.holder::after {
    content: "";
    top: 0;
    left: 50%;
    height: 40%;
    width: 1px;
    background-color: white; /* couleur de la ligne verticale */
}


.btn {
    @apply text-bluey-snd bg-transparent border-2 border-bluey-snd rounded h-14 w-3/5 px-4 mt-2.5 mb-6 cursor-pointer hover:bg-bluey-snd/25
}