@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SimpleThread";
    src: local("SimpleThread"),
        url("../public/font/SimpleThread.otf") format("opentype");

    font-family: "rainy";
    src: local("rainyhearts"),
        url("../public/font/rainyhearts.ttf") format("truetype");
    font-family: "Orbitron";
    src: local("Orbitron"),
        url("../public/font/Orbitron.ttf") format("truetype");
}

@layer base {
    :root {
        --bluey: #0a192f;
        --secondBlueyBg: #46f3ff25;
        --secondBlueyBis: #2cfd6b;
        --secondBlueyBisBg: #2cfd6b25;
    }
}


body {
    font-family: "Orbitron";
    @apply text-white bg-bluey-bg
}