@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SimpleThread";
    src: local("SimpleThread"),
        url("../public/font/SimpleThread.otf") format("opentype");

    font-family: "rainy";
    src: local("rainyhearts"),
        url("../public/font/rainyhearts.ttf") format("truetype");
    font-family: "Orbitron";
    src: local("Orbitron"),
        url("../public/font/Orbitron.ttf") format("truetype");
}

@layer base {
    :root {
        --purp: #160c2c;
        --secondPurp: #fb91ff;

        --bluey: #0c1035;
        --secondBluey: #46f3ff;
        --secondBlueyBg: #46f3ff25;

        --secondBlueyBis: #2cfd6b;
        --secondBlueyBisBg: #2cfd6b25;
    }
}


body {
    font-family: "Orbitron";
    @apply text-white bg-bluey-bg
}



nav {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}


li {
    padding: 10px;
}

a {
    display: flex;

}

a>p {
    
    @apply text-3xl px-1.5 text-bluey-snd
}