
.content {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 60vh;
    height: 60vh;
}

.div-with-vertical-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
